section.clientes.bg--grey-light.box#distribuidores
	div.max-width
		.clientes__header.text--center
			h2.title--sub2 Nuestras Marcas
			p2.text--p2.text--white Las mejores opciones y exclusivas en Chile
		.clientes__cont.mob-2-vga-2-pc-2
			.clientes__item
				img(src="img/distrib-01.jpg", class="img-responsive", alt="")
			.clientes__item
				img(src="img/distrib-02.jpg", class="img-responsive", alt="")
		//--p.text--p2.text--center No dudes en comunicarte. Te esperamos.

		.clientes__button
			a(href="/distribuidores.html").btn-submit Sección Distribuidores ▶