section.equipo.bg--grey-dark.box
	div.max-width
		.equipo__header.text--center
			h2.title--sub2 El equipo a tu servicio
		.equipo__cont.mob-vga-2-pc-4.text--center
			.equipo__item
				figure
					img(src="img/hector_arriagada.jpg", class="img-responsive", alt="")
					figcaption
						p.text--p2 Hector Arriagada: Co-founder
						p.text--p2 Coach Integrativo
						p.text--p2 Ingeniero Civil Industrial
						p.text--p2 hector@ironwill.work
			.equipo__item
				figure
					img(src="img/sebastian_nunez.jpg", class="img-responsive", alt="")
					figcaption
						p.text--p2 Sebastian Nuñez: Co- founder
						p.text--p2 Kinesiólogo
						p.text--p2 sebastian@ironwill.work
						br
						

			.equipo__item
				figure
					img(src="img/javiera_munoz.jpg", class="img-responsive", alt="")
					figcaption
						p.text--p2 Javiera Muñoz: Community
						p.text--p2 Especialista en Marketing
						p.text--p2 javiera@ironwill.work
			.equipo__item
				figure
					img(src="img/leslie_arriagada.jpg", class="img-responsive", alt="")
					figcaption
						p.text--p2 Leslie Arriagada
						p.text--p2 Asesora comercial
						p.text--p2 leslie@ironwill.work
