extends ../layouts/ly_main.jade

block header-banner
	h1.title--main PistoLabs
	p.text--main.text--white Portada Slider

block valores01-figcaption
	h3.title--sub3.text--grey Marcas lideres Europeas
	p.text--p3.text--grey Somos representates en Chile de las mejores marcas, originarias de Polonia e Inglaterra.
block valores02-figcaption
	h3.title--sub3.text--grey Variedad de Productos
	p.text--p3.text--grey Cada una de nuestras marcas cuenta con un amplia linea de productos acorde a todo tipo de necesidad.
block valores03-figcaption
	h3.title--sub3.text--grey Asesoría
	p.text--p3.text--grey Contamos con la experiencia para ayudarte a escoger el mejor producto a tu medida.