extends ../layouts/ly_servicios-section.jade

block section-header
	h2.title--sub2.text--grey ¿Por qué escogernos?
	p.text--p2.text--grey Contamos con los mejores suplementos alimenticios sumados a la mejor asesoría para acompañarte en tu desarrollo y llevarte al siguiente nivel.

