.btn-submit
    //width 100%
    
    font-family righteous
    color white
    background magenta
    text-decoration none
    text-align center
    margin auto
    //font-weight bold
    padding 0.5em 1.4em
    //margin 0.2em 0
    border-radius 1.5em
    border 3px solid white
    font-size 100%
    +above(b1)
        font-size 1.6em
button
    border 0
 
.store__button
    .btn-submit
        //font-size 1.6em
        background magenta
        padding 0.25em 1em

.clientes__button
        
    .btn-submit
        background green
        padding 0.5em
        //font-size 1.6em
        
        +above(b2)
            padding 0.5em 2.3em

.servicio__button-catalogo,
.servicio__button-contacto
    .btn-submit
        display inline-block
        //font-size 1.6em
        background green
        padding 0.5em 1.2em
        margin 0.5em 0.3em

.servicio__button-contacto
    .btn-submit
        background magenta
      
.form__submit
    .btn-submit
        width 100%
        border-radius 0
        border 0
        +above(b1)
            font-size 1.9em

.item-modal__button-contacto
    .btn-submit
        font-size 1.3em
        padding 0.35em 1em