.item-modal
	margin auto
	max-width b2
	&__cont
		text-align center
		+above(b2)
			display flex
	&__img
		padding 1.5em
		+above(b2)
			width 50%
		img
			border 1px solid #9d9d9c
			border-radius 10px
			width 300px
	&__right
		+above(b2)
			text-align left
			padding-top 3em
			width 50%
	&__header
		width 100%
		+above(b2)
			padding-right 1em
			width 90%
		h3
			//margin 0
		/*.precio
			font-size 1.3em
			font-family righteous
			color magenta
			margin 0.5em 0
			&:before
				content '$ '
				font-size 1.1em
				color magenta
			*/
		.text--p3
			font-weight bold
			font-size 1.5em
			font-family raleway
	&__button-contacto
		padding 1em 0
		
		
	&__description
		margin-top 2em
		padding 0 1.5em
		p
			color black
			font-size 1em
		+above(b2)
			margin-top 0