extends layouts/ly_item-store.jade

//-===Cabecera
block title
    title Aminoácidos

//--Main============>


block item-modal_img
    img(src="img/products/aminoacidos/item-01.jpg", class="img-responsive", alt="")

block item-modal_header
    h3.title--sub3.text--grey DEFEND
    //--p.precio aver
    p.text--p3.text--grey Contamos con los mejores precios del mercado porque somos importadores directos

block item-modal_description
    p Si entrena en el gimnasio levantando, necesitará proteger sus músculos del catabolismo. Esto significa prevenir la degradación muscular que es la realidad más básica, e inevitable cuando su objetivo es el crecimiento muscular.
    p Para lograr este delicado equilibrio, tienes que suministrar los aminoácidos más importantes regularmente a los músculos. Defend ha sido formulado con todos los aminoácidos más potentes y anti-catabólicos que el cuerpo humano necesita en polvo para realizar tu propio batido. 
    p Defend está diseñado para ser utilizado durante todo el día, con comidas o entre comidas, según su dieta, para evitar entrar en un estado anti catabólico. También se puede consumir perfectamente durante el entrenamiento y/o añadiéndolo a su suplemento post-entrenamiento para obtener un perfil más amplio de BCAA.
    p Recuerde, Defend está diseñado para atletas que quieren evitar la degradación muscular y maximizar su recuperación tras el ejercicio, la fuerza y masa muscular magra. Es un producto de aminoácidos avanzados con espectro completo, que contiene todos los aminoácidos necesarios para construir y reparar los músculos.
    p <strong> Uso recomendado: </strong> Tomar dos servicios, con abundante agua, una vez al día, durante y/o después de la act. física.