extends layouts/ly_item-store.jade

//-===Cabecera
block title
    title Aminoácidos

//--Main============>


block item-modal_img
    img(src="img/products/aminoacidos/item-03.jpg", class="img-responsive", alt="")

block item-modal_header
    h3.title--sub3.text--grey GLUTA CORE
    //--p.precio aver
    p.text--p3.text--grey Contamos con los mejores precios del mercado porque somos importadores directos

block item-modal_description
    p <strong>GLUTA CORE de FA Core</strong> es un complejo formado por distintas formulaciones de Glutamina. Diseñado a conciencia para los deportistas. Contiene las más avanzadas formas de Glutamina reforzadas con Beta-Glucano, que provoca la activación y fortalecimiento del sistema inmune.

    p <strong>GLUTA CORE de FA Core</strong> ha sido creado teniendo en consideración cualquier aspecto que tenga relevancia entre la L-Glutamina y el organismo, tanto para el atleta más serio, hasta la persona que entrena de manera recreacional.
    p <strong>GLUTA CORE de FA Core</strong> también contiene vitaminas del grupo B que mejoran la asimilación y la biodisponibilidad, y protege del déficit de las mismas, tras acabar el entrenamiento.

    p <strong>Uso recomendado:</strong> Tomar un servicio de 7 gramos. Preferiblemente, después de entrenar y antes de dormir.
    p Envase: 400 Gramos.