extends layouts/ly_item-store.jade

//-===Cabecera
block title
    title Aminoácidos

//--Main============>


block item-modal_img
    img(src="img/products/aminoacidos/item-02.jpg", class="img-responsive", alt="")

block item-modal_header
    h3.title--sub3.text--grey BCAA 8:1:1
    //--p.precio aver
    p.text--p3.text--grey Contamos con los mejores precios del mercado porque somos importadores directos

block item-modal_description
    p El BCAA 8:1:1 Ultra es una formula excelente en el que la innovación es la clave, con aproximadamente un 50% más de aminoácidos por servicio que otros suplementos convencionales, busca conseguir las cantidades codiciadas de aminoácidos que te llevaran más allá del rendimiento.
    p Con cantidades de Leucina, Valina e Isoleucina en forma abundante el BCAA 8:1:1 Ultra busca proporcionar mayor energía, mejor resistencia al desgaste físico (principalmente muscular), previene la degeneración muscular y el efecto catabólico, por ende aumentando el rendimiento durante los entrenamientos físicos de alta y baja intensidad.
