extends layouts/ly_item-store.jade

//-===Cabecera
block title
    title Aminoácidos

//--Main============>


block item-modal_img
    img(src="img/products/aminoacidos/item-04.jpg", class="img-responsive", alt="")

block item-modal_header
    h3.title--sub3.text--grey SAA CORE
    //--p.precio aver
    p.text--p3.text--grey Contamos con los mejores precios del mercado porque somos importadores directos

block item-modal_description
    p SAA CORE de FA Core es un suplemento novedoso a base de aminoácidos de seda (también conocidas como proteína de seda o sericina) y se obtienen a partir del capullo de gusano de seda. Esta novedosa secuencia de aminoácidos con interesantes propiedades ha sido recientemente descubierta por un audaz equipo científico.

    p SAA CORE de FA Core también ayuda al cuerpo a subir y mantener los niveles de testosterona de forma natural y reducir los niveles de cortisol. Incluso se ha sugerido que los SAA tienen propiedades antioxidantes.

    P Principales características de SAA CORE:
    p- Ayuda a el crecimiento muscular
    p- Incrementa el rendimiento durante los entrenamientos intensos
    p- Disminuye el cortisol (hormona que destruye el tejido muscular, catabolismo muscular)
    p- Incrementa los niveles de testosterona en un 64%
    p- Incrementa el glucógeno muscular
    p Uso recomendado: Tomar 1 servicio (5 gramos) con 200 ml de agua antes, durante o después del ejercicio. En días de no entrenamiento, tomar 1 servicio por la mañana, con el estómago vacío.

    p Envase : 150 Gramos.