extends layouts/ly_home.jade

//-===Cabecera
block title
	title Distribuidores

//--Main============>
block banner-main
	img(src="img/distribuidores/banner-01.jpg", class="img-responsive", alt="")

block valores01-img
	img(src="img/distribuidores/valores-01.png", class="img-responsive", alt="")
block valores01-figcaption
	h3.title--sub3.text--grey Venta Exclusiva
	p.text--p3.text--grey Tendras el privilegio de vender marcas completamente nuevas en Chile.

block valores02-img
	img(src="img/distribuidores/valores-02.png", class="img-responsive", alt="")
block valores02-figcaption
	h3.title--sub3.text--grey Precios preferentes
	p.text--p3.text--grey Gracias a que somos importadores directos podemos ofrecerte los mejores precios del mercado.

block valores03-img
	img(src="img/distribuidores/valores-03.png", class="img-responsive", alt="")
block valores03-figcaption
	h3.title--sub3.text--grey Asesoría
	p.text--p3.text--grey Compartimos contigo información vital sobre el negocio para que puedas empezar ya mismo.

//--Seccion Tienda
block store
	//--	

//--Seccion Servicios
block section-header
	h2.title--sub2.text--grey ¿Por qué escogernos?
	p.text--p2.text--grey Adquiere de manera segura productos nunca antes vistos en Chile. Junto con ellos la asesoría necesaria para tener exito, gracias a nuestro equipo de nutrición y ventas.
//--block servicio-button
	//--.servicio__button-catalogo
		a(href="/index.html#store").btn-submit Ver Catálogo

//--Seccion Distribuidores
//--block clientes-button
	//--