extends layouts/ly_item-store.jade

//-===Cabecera
block title
    title Proteínas

//--Main============>


block item-modal_img
    img(src="img/products/proteinas/item-03.jpg", class="img-responsive", alt="")

block item-modal_header
    h3.title--sub3.text--grey TITANIUM
    //--p.precio aver
    p.text--p3.text--grey Contamos con los mejores precios del mercado porque somos importadores directos

block item-modal_description
    p TITANIUM PRO PLEX contiene siete fuentes distintas de proteínas.

    p TITANIUM PRO PLEX 7 es el complejo más avanzado de proteínas esenciales para el buen funcionamiento de todos los órganos, y es importante, especialmente, en la nutrición deportiva. 
    p La proteína TITANIUM PRO PLEX es derivada de proteína de suero concentrado Carbelac®, proteína de suero ISOLAC®, proteína de suero de leche hidrolizada Optipep™, caseína micelar, caseína hidrolizada PeptoPro®, ovoalbúmina y proteína de carne vacuno aislado. Todos estos tipos de proteínas tienen una estructura y características diferentes, tienen composición de aminoácidos diferentes y diferente tasa de digestión; por lo tanto son absorbidos por el cuerpo en momentos diferentes. 
    p El hidrolizado de proteína, se caracteriza por una gran parte de los péptidos y aminoácidos libres, que pueden ser utilizados por el cuerpo de inmediato, sin pasar por el proceso de digestión.
    p A diferencia de los aminoácidos derivados de proteínas hidrolizadas, la caseína se digiere mucho más lento y e incluso un par de horas después de comer. Por este motivo proporciona al cuerpo los aminoácidos necesarios para la construcción muscular y es una proteína perfecta para la noche. 
    p La proteína de carne vacuna tiene un perfil de aminoácidos diferente por lo que completa el producto perfectamente, no sólo en aminoácidos, sino también proporcionando todos los hidro-amino-ácidos necesarios para la producción de colágeno. 
    p Debido a la gran variedad de aminoácidos TITANIUM PRO PLEX es una composición perfecta para todo aquel que lleva un estilo de vida activo, atletas, deportistas y todos los que quieran suministrar a su dieta proteínas, para contribuir al crecimiento y mantenimiento de la masa muscular, así como unos huesos sanos.
    p Uso recomendado: Mezclar 1 servicio (27 g), en 200ml de agua. Se recomienda tomar 3-4 servicios diarios (después del desayuno, 60-90 minutos antes del ejercicio, inmediatamente después de realizar la actividad física, y 30-60 minutos antes de acostarse).
