extends layouts/ly_item-store.jade

//-===Cabecera
block title
    title Proteínas

//--Main============>


block item-modal_img
    img(src="img/products/proteinas/item-01.jpg", class="img-responsive", alt="")

block item-modal_header
    h3.title--sub3.text--grey HYDRA-6
    //--p.precio aver
    p.text--p3.text--grey Contamos con los mejores precios del mercado porque somos importadores directos

block item-modal_description
    p Grenade Hydra 6 combina aislado de proteína de suero y caseína en un ratio 50:50. Cada batido aporta 12,5 gramos de proteína de suero de alta calidad que se combinan con otros 12, 5 gramos de caseína micelar ultra filtrada, que proporciona aminoácidos al músculo de forma casi inmediata para comenzar rápidamente con la recuperación, pero a su vez prolongada en el tiempo para mantener los músculos nutridos durante horas.

    p El aislado de suero es una fuente excelente de aminoácidos, ya que es naturalmente rico en aminoácidos ramificados (BCAA’s), la proteína de suero se digiere rápidamente y aumenta la concentración de aminoácidos disponibles en la sangre, para comenzar a reparar los tejidos y estimular la síntesis de nuevas proteínas. Esta proteína se combina con proteína micelar proporciona una liberación sostenida de aminoácidos para prolongar sus efectos y mantener al músculo nutrido durante más tiempo.

    p Grenade Hydra 6 contiene poca proporción de carbohidratos, estos carbohidratos sirven como fuente de energía para la recuperación así como para mantener o desarrollar la musculatura.

    P Grenade es una innovadora empresa de nutrición para deportistas que ha desarrollado un rápido crecimiento y cosechado un gran éxito. Sus productos han sido objeto de múltiples premios y sus productos para la pérdida de peso son número uno en ventas.

    p <strong> Uso recomendado: </strong>  Mezclar 1 servicio con 200-300 ml de agua o leche. Agitar bien antes de beber. Usar entre las principales comidas y después del ejercicio.
