extends layouts/ly_item-store.jade

//-===Cabecera
block title
    title Quemadores

//--Main============>


block item-modal_img
    img(src="img/products/quemadores/item-03.jpg", class="img-responsive", alt="")

block item-modal_header
    h3.title--sub3.text--grey BLACK OPS
    //--p.precio aver
    p.text--p3.text--grey Contamos con los mejores precios del mercado porque somos importadores directos

block item-modal_description
    p Grenade Black OPS es el nuevo suplemento para la pérdida de grasa de la conocida marca Grenade®.
    p Se trata de un suplemento con efecto termogénico diseñado especialmente para los deportistas ya que logra un efecto estimulante único, mejora el rendimiento mental y físico como ningún otro producto.
    p Grenade Black OPS tiene tiempo de acción intenso pero más corto que el tradicional Grenade® Thermo Detonator.
    P Gracias a esta característica, es ideal para ser usado como complemento como pre-entreno en entrenamientos cortos de alta intensidad (como el HIIT) y para las personas que entrenan por la tarde-noche. Su combinación de ingredientes provoca una activación del metabolismo y favorece la eliminación de las grasas durante el entrenamiento. Grenade Black OPS incluye una mezcla de ingredientes procedentes de extractos herbales y estimulantes con reconocida acción termogénica.
    p La fórmula trabaja a varios niveles: Aumentar la energía y favorecer la movilidad de las grasas gracias a la acción de la cafeína, incrementa el metabolismo basal gracias a la inclusión de ingredientes como los polifenoles del té verde y la cayena, y promueve un clima hormonal saludable gracias a ingredientes como las algas verde-azuladas o el extracto de cacao.

