extends layouts/ly_item-store.jade

//-===Cabecera
block title
    title Quemador

//--Main============>


block item-modal_img
    img(src="img/products/quemadores/item-04.jpg", class="img-responsive", alt="")

block item-modal_header
    h3.title--sub3.text--grey L-CARNITINA 3000
    //--p.precio aver
    p.text--p3.text--grey Contamos con los mejores precios del mercado porque somos importadores directos

block item-modal_description
    p <strong>L-CARNITINE 3000 de Fitness Authority Nutrition</strong> contribuye a oxidar las grasas favoreciendo su eliminación al utilizarlas como combustible. La función de la L-Carnitina sería pues la de facilitar el uso de las grasas. Cuando estamos bajos de L-Carnitina las grasas, al tener más dificultad en oxidarse, tenderían a quedarse o ser eliminadas muy lentamente de nuestras células y torrente sanguíneo. Por eso la L-Carnitina para adelgazar es eficaz pero también para combatir el colesterol y los triglicéridos.
    p <strong>L-CARNITINE 3000 de Fitness Authority Nutrition</strong> además se le añadido Vitamina B6 y no contiene azúcar. La carnitina aumenta el efecto antioxidante de las vitaminas C y E, y fortalece el sistema inmunológico y cardiovascular.
    p Uso recomendado: Beber 1/2 botella (30ml) aproximadamente 30 minutos antes del ejercicio físico.
    p Envase : 60 Ml.
    p <strong> Uso recomendado: </strong> Tomar 1/3 botella (33ml) aproximadamente 30 minutos antes del ejercicio físico.

