head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    
    block title
        title titulo pagina
    
    link(rel="stylesheet", type="text/css", href="style.css")
    link(href="favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Abel", type="text/css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway", type="text/css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Righteous", type="text/css")
