<!DOCTYPE html>
html(lang="en")
    block head
        include ../partials/head.jade
    
    body 
        include ../partials/header.jade 
        
        block main
            include ../partials/main.jade
        

        block store
            include ../partials/store.jade
        
        include ../partials/clientes.jade

        include ../partials/servicios.jade
        
        include ../partials/footer.jade