article.servicios.bg--grey-medium.box#servicios
	div.max-width
		.servicios__header.text--center
			block servicios-header
				h2.title--sub2 subtitulo servicios
		.servicios__cont
			.servicios__item
				figure
					a(href="http://ironwill.work/coaching.html")
						.servicio-img
							img(src="img/coaching.jpg", class="img-responsive", alt="")
					figcaption
						a(href="http://ironwill.work/coaching.html")
							block servicio01-subtitulo
								h3.title--sub3 subtitulo01
			.servicios__item
				figure
					a(href="http://ironwill.work/charlas.html")
						.servicio-img
							img(src="img/charlas.jpg", class="img-responsive", alt="")
					figcaption
						a(href="http://ironwill.work/charlas.html")
							block servicio02-subtitulo
								h3.title--sub3 subtitulo02
			.servicios__item
				figure
					a(href="http://ironwill.work/crecimiento.html")
						.servicio-img
							img(src="img/crecimientodep.jpg", class="img-responsive", alt="")
					figcaption
						a(href="http://ironwill.work/crecimiento.html")
							block servicio03-subtitulo
								h3.title--sub3 subtitulo03
			
		.servicios__button
			a(href="#contactanos").btn-submit Contáctanos