article.servicio-section.box#servicios
    div.max-width
        .servicio-section__item.text--center
            .servicio-section__header
                block section-header
                    h2.title--sub2 subtitulo servicio-section
                    p.text--p2 texto
            .servicio-section__img-logo
                img(src="img/logotipo_pistolabs-b.png", class="img-responsive", alt="")
        //--   
            .servicio-section__img-tab
                img(src="img/propuesta.jpg", class="img-responsive", alt="")
            .servicio-section__img-pc
                img(src="img/propuesta.jpg", class="img-responsive", alt="")
        //--.servicio__button
            block servicio-button
                .servicio__button-catalogo
                    a(href="#store").btn-submit Ver Catálogo
            //---.servicios__button-contacto
                a(href="#contactanos").btn-submit ¡Contáctanos!